{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation - {{ company }}{% endblock %}

{% block body %}
    <main class="mt-10 px-4">
        <img src="{{ asset('assets/ces-logo.webp') }}" alt="Logo du CES" class="w-56 mx-auto my-10">
        <div class="prose">
            <h1>Conditions générales d'utilisation</h1>
            <h2>Lorem ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi <a href="#">asperiores</a> consectetur culpa delectus dignissimos distinctio earum eos error excepturi fugit harum hic id in iure laborum magni nobis non nulla odit officia omnis perspiciatis possimus praesentium quae quam, quibusdam quidem rem repellendus sed tempora ut vel vero
                <a href="#">voluptates</a> voluptatibus.</p>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, doloribus?</li>
                <li>Accusantium animi autem culpa dolor earum itaque labore praesentium, quibusdam!</li>
                <li>Ab architecto cupiditate enim explicabo inventore laboriosam minima nostrum quam.</li>
                <li>Alias dicta itaque qui suscipit. Aspernatur commodi doloribus repudiandae vel.</li>
                <li>Consequatur corporis doloremque et excepturi, id ipsa odit sed suscipit.</li>
            </ol>
            <h2>Lorem ipsum dolor sit amet.</h2>
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eum quibusdam sit.</blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit. Dolores fuga harum laboriosam libero nemo, non nostrum quibusdam quod quos recusandae suscipit tempora. Distinctio et quidem tenetur? Consequatur expedita perspiciatis vel voluptate. Aut blanditiis dignissimos distinctio ducimus illo, laborum maiores officiis perspiciatis, porro quasi quidem
                <a href="#">repellendus</a> soluta totam, vitae voluptatem voluptatum!</p>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut dolorem, eligendi eos illo ipsum, maiores molestiae natus obcaecati perspiciatis provident quam quas recusandae saepe soluta suscipit velit vitae voluptatum. Commodi nesciunt odio odit perferendis quis tenetur, totam. A at dignissimos expedita fugit hic obcaecati quas quos recusandae reprehenderit velit?    </p>
        </div>
    </main>
{% endblock %}
